body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #03AED2;
  font-family: Arial, sans-serif;
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #68D2E8;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

.input-box {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #FEEFAD;
}

.submit-box {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px ;
  background-color: #FDDE55;
  color: #000000;
  cursor: pointer;
}

.submit-box:hover {
  background-color: #f9cb00;
  color: rgb(0, 0, 0);
}



