
.main{
  width: 80vw;
  margin: 0;
  padding: 0; 

} 
.chat{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;

}
.chat-thread{
  display: flex;
  flex-direction: column-reverse;
  /* border: 1px dotted; */
  overflow-y: auto;
  height: 90vh;
}

.right{
  display: flex;
  justify-content: flex-end;
}
.left{
  display: flex;
}
.chat-window{
  display: flex;
  justify-content: center;
}

.chat-window-msg{
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  width: 50vw;

}

.sent-btn{
  padding: 10px;
  border: 1px solid;
  border-radius: 5px ;
  background-color: #FDDE55;
  color: #000000;
  cursor: pointer;
}

.sent-btn:hover{
  background-color:#ffd000;
}